
.mb-3{
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 5px;
  }

.logo-area{
  font-family: 'Do Hyeon', sans-serif;
  font-size: 20px;
  color: black;
}

.logRegText{
  font-family: 'Do Hyeon', sans-serif;
  font-size: 20px;
  color: black;
}