.App {
  text-align: center;
}

.navbar{
  background : radial-gradient(#ff2727, rgb(250, 15, 15), #ff2727);
}

h2{
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 45px;
  text-shadow: 3px 3px 3px #ababab;
}

.card{
  width:15rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  margin-left: 7rem;
}

.card:hover{
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}


.card-body{

  padding: 2rem 0 !important;
}

.col{
  padding: 1px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 251, 251);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.justify-content-end {
  margin-top: 1rem;
  margin-bottom: 2rem ;
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 40px;
  text-shadow: 3px 3px 3px #ababab
}

.justify-content-end2 {
  margin-top: 1rem;
  margin-bottom: 2rem ;
  margin-left: 10rem;
  font-size: 15px;
  
 
}