.App {
  text-align: center;
  background-color: black;
}

.navbar{
  background-color: black;
}


h3{
  font-family: 'Do Hyeon', sans-serif;
  font-size: 20px;
  color: ivory;
  margin-left: 10rem;
  
}

h5{
  font-family: 'Do Hyeon', sans-serif;
  font-size: 20px;
  
}

h6{
  font-family: 'Do Hyeon', sans-serif;
  font-size: 15px;
 
  
}

.mainName, .bestName {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 26px;
  color: red;
  
}


.card{
  width:15rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  margin-left: 3rem;
}

.card:hover{
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}


.card-body{

  padding: 2rem 0 !important;
}

.col{
  padding: 1px;
}
.nav-link.active{
  background-color: cyan;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.logo{
  margin-left: -80px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 70px;
  /* color: white;
  text-shadow: 3px 3px 3px #ababab; */
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #ff0000,
    0 0 2px rgb(255, 0, 0), 0 0 2px #ff0000, 0 0 102px #ff0000, 0 0 50px #ff0000;
  animation: flicker 0.5s infinite alternate;
  
}

@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #ff0000,
      0 0 11px #ff0000,
      0 0 19px #ff0000,
      0 0 40px #ff0000,
      0 0 80px #ff0000,
      0 0 90px #ff0000,
      0 0 100px #ff0000,
      0 0 150px #ff0000;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

.dDayText {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 40px;
  color: #fff;
  
}

.smallText {
  margin-right: -500px;
  font-size: 20px;
  color: white !important;
}

.smallText > div > a {
  color: white !important;
}

/* .HeaderBackgroundImg{
  background-color: red;
  background-image:url(../../../minipjclone/project_3jo/src/components/img/naked-geb94f0527_1280.jpg)
  /* img {
    opacity: 0.4;
    filter: alpha(opacity=40); For IE8 and earlier
} */


/* .App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 251, 251);
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.justify-content-end {
  margin-top: 1rem;
  margin-bottom: 2rem ;
  font-size: 40px;
  text-shadow: 3px 3px 3px #ababab
}

.justify-content-end2 {
  margin-top: 1rem;
  margin-bottom: 2rem ;
  margin-left: 10rem;
  font-size: 15px;
}

.mb-3{
  margin-top: 1rem;
  margin-bottom: 2rem ;
}

.nav{
  background-color: black;
  margin-bottom: 2rem ;
}

.g-4{
  background-color: black;
}

.page-footer{
  background-color: #DCDCDC;
}

/* h10 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  color: white;
  padding-top: 10rem;
} */